<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Monster 1</th>
      <th>Monster 2</th>
      <th>Monster 3</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= @monsters[team.id][0].name %></td>
        <td><%= @monsters[team.id][1].name %></td>
        <td><%= @monsters[team.id][2].name %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div><%= link_to 'New Team', new_team_path %></div>
<div><%= link_to 'Monsters section', monsters_path %></div>
<div><%= link_to 'Home page', root_path %></div>
